<p style="color: green"><%= notice %></p>

<h1>Agendas</h1>

<div id="agendas">
  <% @agendas.each do |agenda| %>
    <%= render agenda %>
    <p>
      <%= link_to "Visualizar contato", agenda %>
    </p>
  <% end %>
</div>

<%= link_to "Novo contato", new_agenda_path %>